    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!--links-->
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand text-left" href="#">Sakata-e-learning</a>
        </ul>
        <ul class="navbar-nav">  
            <li class="nav-item">
                <%= link_to "home", root_path ,class: "nav-link" %>      <!--アカウント管理を表示 -->        
            </li>
            <li class="nav-item">
                <%= link_to "about", about_path ,class: "nav-link" %>        <!--logout 機能→log in に飛ぶ -->     
            </li>
        </ul>
      </nav>